/*
Ghost API

The Ghost API

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// ApisAPIService ApisAPI service
type ApisAPIService service

type ApiGetAPIRequest struct {
	ctx context.Context
	ApiService *ApisAPIService
	id string
	binDuration *string
	startDate *time.Time
	endDate *time.Time
}

// Time window over which to aggregate request counts. Must be &gt;&#x3D; 1h and &lt;&#x3D; 1d. For example: 1h, 8h. Must be a multiple of 1h.
func (r ApiGetAPIRequest) BinDuration(binDuration string) ApiGetAPIRequest {
	r.binDuration = &binDuration
	return r
}

// The start date in RFC3339 format
func (r ApiGetAPIRequest) StartDate(startDate time.Time) ApiGetAPIRequest {
	r.startDate = &startDate
	return r
}

// The end date in RFC3339 format
func (r ApiGetAPIRequest) EndDate(endDate time.Time) ApiGetAPIRequest {
	r.endDate = &endDate
	return r
}

func (r ApiGetAPIRequest) Execute() (*API, *http.Response, error) {
	return r.ApiService.GetAPIExecute(r)
}

/*
GetAPI Get an API

Get an existing API

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id API ID as UUID
 @return ApiGetAPIRequest
*/
func (a *ApisAPIService) GetAPI(ctx context.Context, id string) ApiGetAPIRequest {
	return ApiGetAPIRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return API
func (a *ApisAPIService) GetAPIExecute(r ApiGetAPIRequest) (*API, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *API
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApisAPIService.GetAPI")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.binDuration == nil {
		return localVarReturnValue, nil, reportError("binDuration is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "bin_duration", r.binDuration, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InvalidInputError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AccessDeniedError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v NotFoundError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationListError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAPIEndpointsRequest struct {
	ctx context.Context
	ApiService *ApisAPIService
	id string
	size *int32
	page *int32
	orderBy *string
	lastTrafficAfter *string
	minRequestCount *int32
}

// Results per page
func (r ApiListAPIEndpointsRequest) Size(size int32) ApiListAPIEndpointsRequest {
	r.size = &size
	return r
}

// Page number
func (r ApiListAPIEndpointsRequest) Page(page int32) ApiListAPIEndpointsRequest {
	r.page = &page
	return r
}

// Order results in ascending order of field value with optional &#39;-&#39; prefix for descending order. One of path_template (default), method, created_at, last_traffic_at, request_rate.
func (r ApiListAPIEndpointsRequest) OrderBy(orderBy string) ApiListAPIEndpointsRequest {
	r.orderBy = &orderBy
	return r
}

// Returns only endpoints which have been seen in app scans since this timestamp inf RFC3339 format. Returns all endpoints by default.
func (r ApiListAPIEndpointsRequest) LastTrafficAfter(lastTrafficAfter string) ApiListAPIEndpointsRequest {
	r.lastTrafficAfter = &lastTrafficAfter
	return r
}

// Only return endpoints with at least this many requests (ever)
func (r ApiListAPIEndpointsRequest) MinRequestCount(minRequestCount int32) ApiListAPIEndpointsRequest {
	r.minRequestCount = &minRequestCount
	return r
}

func (r ApiListAPIEndpointsRequest) Execute() (*PaginatedAPIEndpoint, *http.Response, error) {
	return r.ApiService.ListAPIEndpointsExecute(r)
}

/*
ListAPIEndpoints List API endpoints

List all endpoints which belong to an API

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id API ID as UUID
 @return ApiListAPIEndpointsRequest
*/
func (a *ApisAPIService) ListAPIEndpoints(ctx context.Context, id string) ApiListAPIEndpointsRequest {
	return ApiListAPIEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedAPIEndpoint
func (a *ApisAPIService) ListAPIEndpointsExecute(r ApiListAPIEndpointsRequest) (*PaginatedAPIEndpoint, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedAPIEndpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApisAPIService.ListAPIEndpoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/{id}/endpoints"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.lastTrafficAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_traffic_after", r.lastTrafficAfter, "form", "")
	}
	if r.minRequestCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_request_count", r.minRequestCount, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InvalidInputError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AccessDeniedError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v NotFoundError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAPIVulnerabilitiesRequest struct {
	ctx context.Context
	ApiService *ApisAPIService
	id string
	size *int32
	page *int32
	orderBy *string
	status *[]string
	suppressed *bool
	firstDetectedAt *string
	lastDetectedAt *string
	resourceKind *[]string
	issueSeverity *[]string
	issueId *[]string
	issueCategoryId *[]string
}

// Results per page
func (r ApiListAPIVulnerabilitiesRequest) Size(size int32) ApiListAPIVulnerabilitiesRequest {
	r.size = &size
	return r
}

// Page number
func (r ApiListAPIVulnerabilitiesRequest) Page(page int32) ApiListAPIVulnerabilitiesRequest {
	r.page = &page
	return r
}

// Ordering attribute with optional &#39;-&#39; prefix for descending order. Valid attributes: issue.severity, status, resource.kind, issue.category.name, issue.name, first_detected_at, and last_detected_at.
func (r ApiListAPIVulnerabilitiesRequest) OrderBy(orderBy string) ApiListAPIVulnerabilitiesRequest {
	r.orderBy = &orderBy
	return r
}

// Filters for vulnerabilities that have a status in the provided list.
func (r ApiListAPIVulnerabilitiesRequest) Status(status []string) ApiListAPIVulnerabilitiesRequest {
	r.status = &status
	return r
}

// Filters for vulnerabilities that have been suppressed or not.
func (r ApiListAPIVulnerabilitiesRequest) Suppressed(suppressed bool) ApiListAPIVulnerabilitiesRequest {
	r.suppressed = &suppressed
	return r
}

// Filters for vulnerabilities that were first seen since the provided value - can be one of day, week, month, year
func (r ApiListAPIVulnerabilitiesRequest) FirstDetectedAt(firstDetectedAt string) ApiListAPIVulnerabilitiesRequest {
	r.firstDetectedAt = &firstDetectedAt
	return r
}

// Filters for vulnerabilities that were last seen since the provided value - can be one of day, week, month, year
func (r ApiListAPIVulnerabilitiesRequest) LastDetectedAt(lastDetectedAt string) ApiListAPIVulnerabilitiesRequest {
	r.lastDetectedAt = &lastDetectedAt
	return r
}

// Filters for vulnerabilities that are associated with a resource kind in the provided list.
func (r ApiListAPIVulnerabilitiesRequest) ResourceKind(resourceKind []string) ApiListAPIVulnerabilitiesRequest {
	r.resourceKind = &resourceKind
	return r
}

// Filters for vulnerabilities that belongs to a rule with a severity in the provided list.
func (r ApiListAPIVulnerabilitiesRequest) IssueSeverity(issueSeverity []string) ApiListAPIVulnerabilitiesRequest {
	r.issueSeverity = &issueSeverity
	return r
}

// Filters for vulnerabilities that belong to a rule in the provided list.
func (r ApiListAPIVulnerabilitiesRequest) IssueId(issueId []string) ApiListAPIVulnerabilitiesRequest {
	r.issueId = &issueId
	return r
}

// Filters for vulnerabilities that belong to a rule that belongs to a category in the provided list.
func (r ApiListAPIVulnerabilitiesRequest) IssueCategoryId(issueCategoryId []string) ApiListAPIVulnerabilitiesRequest {
	r.issueCategoryId = &issueCategoryId
	return r
}

func (r ApiListAPIVulnerabilitiesRequest) Execute() (*PaginatedVulnerability, *http.Response, error) {
	return r.ApiService.ListAPIVulnerabilitiesExecute(r)
}

/*
ListAPIVulnerabilities List API vulnerabilities

List API vulnerabilities

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id API ID as UUID
 @return ApiListAPIVulnerabilitiesRequest
*/
func (a *ApisAPIService) ListAPIVulnerabilities(ctx context.Context, id string) ApiListAPIVulnerabilitiesRequest {
	return ApiListAPIVulnerabilitiesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedVulnerability
func (a *ApisAPIService) ListAPIVulnerabilitiesExecute(r ApiListAPIVulnerabilitiesRequest) (*PaginatedVulnerability, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedVulnerability
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApisAPIService.ListAPIVulnerabilities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/{id}/vulnerabilities"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "csv")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	if r.firstDetectedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first_detected_at", r.firstDetectedAt, "form", "")
	}
	if r.lastDetectedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_detected_at", r.lastDetectedAt, "form", "")
	}
	if r.resourceKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource.kind", r.resourceKind, "form", "csv")
	}
	if r.issueSeverity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issue.severity", r.issueSeverity, "form", "csv")
	}
	if r.issueId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issue.id", r.issueId, "form", "csv")
	}
	if r.issueCategoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "issue.category.id", r.issueCategoryId, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InvalidInputError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AccessDeniedError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAPIsRequest struct {
	ctx context.Context
	ApiService *ApisAPIService
	binDuration *string
	startDate *time.Time
	endDate *time.Time
	size *int32
	page *int32
	orderBy *string
	hostName *string
	isFirstParty *bool
}

// Time window over which to aggregate request counts. Must be &gt;&#x3D; 1h and &lt;&#x3D; 1d. For example: 1h, 8h. Must be a multiple of 1h.
func (r ApiListAPIsRequest) BinDuration(binDuration string) ApiListAPIsRequest {
	r.binDuration = &binDuration
	return r
}

// The start date in RFC3339 format
func (r ApiListAPIsRequest) StartDate(startDate time.Time) ApiListAPIsRequest {
	r.startDate = &startDate
	return r
}

// The end date in RFC3339 format
func (r ApiListAPIsRequest) EndDate(endDate time.Time) ApiListAPIsRequest {
	r.endDate = &endDate
	return r
}

// Results per page
func (r ApiListAPIsRequest) Size(size int32) ApiListAPIsRequest {
	r.size = &size
	return r
}

// Page number
func (r ApiListAPIsRequest) Page(page int32) ApiListAPIsRequest {
	r.page = &page
	return r
}

// Ordering attribute with optional &#39;-&#39; prefix for descending order. Multiple comma delimited fields can be used. Valid attributes: host.name, endpoint_count, vulnerabilities.active, vulnerabilities.resolved, vulnerabilities.suppressed
func (r ApiListAPIsRequest) OrderBy(orderBy string) ApiListAPIsRequest {
	r.orderBy = &orderBy
	return r
}

// Filter list by host name
func (r ApiListAPIsRequest) HostName(hostName string) ApiListAPIsRequest {
	r.hostName = &hostName
	return r
}

// Filter by first party APIs
func (r ApiListAPIsRequest) IsFirstParty(isFirstParty bool) ApiListAPIsRequest {
	r.isFirstParty = &isFirstParty
	return r
}

func (r ApiListAPIsRequest) Execute() (*PaginatedAPI, *http.Response, error) {
	return r.ApiService.ListAPIsExecute(r)
}

/*
ListAPIs List APIs

List APIs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAPIsRequest
*/
func (a *ApisAPIService) ListAPIs(ctx context.Context) ApiListAPIsRequest {
	return ApiListAPIsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedAPI
func (a *ApisAPIService) ListAPIsExecute(r ApiListAPIsRequest) (*PaginatedAPI, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedAPI
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApisAPIService.ListAPIs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.binDuration == nil {
		return localVarReturnValue, nil, reportError("binDuration is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.hostName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "host.name", r.hostName, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "bin_duration", r.binDuration, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	if r.isFirstParty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_first_party", r.isFirstParty, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InvalidInputError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AccessDeniedError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationListError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListApiAppsRequest struct {
	ctx context.Context
	ApiService *ApisAPIService
	id string
	size *int32
	page *int32
	orderBy *string
	name *string
	scannedAfter *int32
	environment *[]string
}

// Results per page
func (r ApiListApiAppsRequest) Size(size int32) ApiListApiAppsRequest {
	r.size = &size
	return r
}

// Page number
func (r ApiListApiAppsRequest) Page(page int32) ApiListApiAppsRequest {
	r.page = &page
	return r
}

// Ordering attribute with optional &#39;-&#39; prefix for descending order. Valid attributes: name, created_at, updated_at, last_scanned_at, environment, vulnerabilities.active, vulnerabilities.resolved, vulnerabilities.suppressed
func (r ApiListApiAppsRequest) OrderBy(orderBy string) ApiListApiAppsRequest {
	r.orderBy = &orderBy
	return r
}

// Filter by apps with a name containing the supplied string
func (r ApiListApiAppsRequest) Name(name string) ApiListApiAppsRequest {
	r.name = &name
	return r
}

// Filter by apps with a scanned_after timestamp greater than or equal to the supplied timestamp (default: 7 days)
func (r ApiListApiAppsRequest) ScannedAfter(scannedAfter int32) ApiListApiAppsRequest {
	r.scannedAfter = &scannedAfter
	return r
}

// Filters for apps that belongs to an environment in the provided list.
func (r ApiListApiAppsRequest) Environment(environment []string) ApiListApiAppsRequest {
	r.environment = &environment
	return r
}

func (r ApiListApiAppsRequest) Execute() (*PaginatedApp, *http.Response, error) {
	return r.ApiService.ListApiAppsExecute(r)
}

/*
ListApiApps List API apps

List all apps which belong to an API

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id API ID as UUID
 @return ApiListApiAppsRequest
*/
func (a *ApisAPIService) ListApiApps(ctx context.Context, id string) ApiListApiAppsRequest {
	return ApiListApiAppsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PaginatedApp
func (a *ApisAPIService) ListApiAppsExecute(r ApiListApiAppsRequest) (*PaginatedApp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedApp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApisAPIService.ListApiApps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/{id}/apps"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.scannedAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scanned_after", r.scannedAfter, "form", "")
	}
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InvalidInputError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v AccessDeniedError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v NotFoundError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
