---
page_title: "Ghost Provider"
description: |-
  The Ghost provider provides utilities for working with the Ghost Security platform.
---

# Ghost Provider
The Ghost provider provides utilities for working with the [Ghost Security](https://ghostsecurity.com) platform.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
